<div class="user-details">
        <h1> Work and Experience </h1>
        <p> I have worked in various domains </p>
</div>
<style>
    .work {
        margin: 10px;
        text-align:center;
    }
    .allwork {
        width: 40%;
	    padding: 20px;
        display: inline-block;
        word-wrap: break-word;
    }
    .allwork p{font-size:16px}
    img {
        width: 50%;
        height: 50%;
    }
</style>

<div class="work">
        <div class="allwork">
                <h3>Bigdata and cloud computing Intern</h3>
                <img alt="SDE" src="{{ "/assets/img/imedita.png" | prepend: site.baseurl }}" />
                <p>
                        I interned at <a href="https://www.imedita.com" target="_blank" >I-MEDITA</a>. During my internship i learnt and implemented Big-data Hadoop Technology on Weather Data Analysis using Map-Reduce, pig. During my time, I successfully did the following project.
                        <ol>
                            <li style="text-align: justify"><strong>Weather Data Analysis Using Hadoop</strong> - This project consisted of analysis of Bigdata Consisting of weather forecast details over a span of 10 years, with the help of Hadoop Technology using Map-reduce, Pig and hive</li>
                        </ol>
                </p>
                <p>The project details are confidential</p>
        </div>
          <div class="allwork">
            <h3>Research Member - MUST Research Club</h3>
            <p>Club for cognitive Science and Applied Machine Learning </p>
            <img style="width: 23%;height: 30%" alt="Research" src="{{ "/assets/img/must.png" | prepend: site.baseurl }}" />
            <p>
                    I am working at (<a href="https://www.must.co.in">MUST Research Club</a>). During my work                    <ol>
                        <li style="text-align: justify"><strong>Terrorism Vulnerability Prediction For Indian States</strong> - A research project that focusces on predicting attack vulnerabilities for various Indian States</li>
                    </ol>
                </p>
                <p>The project details can be found <a href="https://github.com/swastikmhptr/Terrorism-Vulnerability-Prediction-model-for-Indian-States">here</a></p>
          </div>
          <div class="allwork">
            <h3>Data Analyst Intern- CareerIn</h3>
            <img style="width: 15%;height: 23%" alt="SDE" src="{{ "/assets/img/careerin.jpg" | prepend: site.baseurl }}" />
            <p>
                    I was interning at <a href="https://www.careerin.in" target="_blank" >Careerin</a>,where During this role i Collected and Analysed informations of various Educational Institutions Belonging to the north Eastern states of India and hence retrieved the area specific dependability of education quality for various indian states.
                    <ol>
                        <li style="text-align: justify"><strong>School Data Authentication and Analysis</strong> - In this role i gathered info about many indian schools around north-eastern India .</li>
                    </ol>
                </p>
                <p>As of now the project details are confidential</p>
          </div>
          <div class="allwork">
                <h3>IGV Team Leader- CRM</h3>
                <img alt="SDE" src="{{ "/assets/img/aiesec.jpg" | prepend: site.baseurl }}" />
                <p>
                    I worked at <a href="https://www.aiesec.in" target="_blank" >AIESEC</a>. It's the world's Largest Youth Run Organization. During my time, I successfully did the following work.
                    <ol>
                        <li style="text-align: justify"><strong>Incomming Global Volunteers CRM</strong> - Here i Interacted and maintained good relations with the head of many Educational Organizations and NGO's while getting many Local and National Level Projects for the company. </li>
                        <li style="text-align: justify"><strong>EXPA Administrator</strong> - EXPA is the Online Match-Making server of AIESEC that matches the needs of various interns to the correct projects, i handled the proper working of it, while ensuring enough matches for my Local Community.</li>
                    </ol>
                </p>
              </div>
      </div>
      <br/>
