<div class="user-details">
        <h1> Work and Experience </h1>
        <p> I have worked in various domains </p>
</div>
<style>
    .work {
        margin: 10px;
        text-align:center;
    }
    .allwork {
        width: 40%;
	    padding: 20px;
        display: inline-block;
        word-wrap: break-word;
    }
    .allwork p{font-size:16px}
    img {
        width: 50%;
        height: 50%;
    }
</style>

<div class="work">
        <div class="allwork">
                <h3>Summer Fellow - Department OF CSA</h3>
                <img alt="SDE" src="{{ "/assets/img/iisc.png" | prepend: site.baseurl }}" />
                <p>
                        I was selected among the top 80 Students from all over india for Summer Fellowship Programme at <a href="https://www.iisc.ac.in/" target="_blank" >Indian Institute Of Science>/a>.In The Department Of <strong>Computer Science And Automation</strong>.
                        <ol>
                            <li style="text-align: justify"><strong>Experience</strong> - During my fellowship i was intoduced and trained with reversing frameworks like <a>Radare</a>, Scenario Generation softwares like <a>Alloy Analyser</a>, program optimization with <a>Dafny</a>,etc.</li>
                        </ol>
                </p>
		

        </div>
          <div class="allwork">
            <h3>Research Member - MUST Research Club</h3>
            <img style="width: 23%;height: 30%" alt="Research" src="{{ "/assets/img/must.png" | prepend: site.baseurl }}" />
            <p>
                    I am a Research Member at <a href="https://www.must.co.in">MUST Research Club</a>. It is an AI Research Club supported by Microsoft that is dedicated to promote excellence and competence in the field of cognitive computing, data science and advanced analytics for the benefit of the society. One Of my notable contribution is:-                    <ol>
                        <li style="text-align: justify"><strong>Terrorism Vulnerability Prediction For Indian States</strong> - A research project that focusces on predicting attack vulnerabilities for various Indian States</li>
                    </ol>
                </p>
                <p>The project details can be found <a href="https://github.com/swastikmhptr/Terrorism-Vulnerability-Prediction-model-for-Indian-States">here</a></p>
          </div>
	  <div class="allwork">
                <h3>Bigdata and cloud computing Intern</h3>
                <img alt="SDE" src="{{ "/assets/img/imedita.png" | prepend: site.baseurl }}" />
                <p>
                        I interned at <a href="https://www.imedita.com" target="_blank" >I-MEDITA</a>. During my internship i learnt and implemented Big-data Hadoop Technology on Weather Data Analysis using Map-Reduce, pig. During my time, I successfully did the following project.
                        <ol>
                            <li style="text-align: justify"><strong>Weather Data Analysis Using Hadoop</strong> - This project consisted of analysis of Bigdata Consisting of weather forecast details over a span of 10 years, with the help of Hadoop Technology using Map-reduce, Pig and hive</li>
                        </ol>
                </p>
		 <p>The project details can be found <a href="https://drive.google.com/file/d/1ogN-nZjzGIPWOldUjxu3VFoNJbojYbR-/view">here</a></p>

        </div>
          <div class="allwork">
                <h3>IGV Team Leader- CRM</h3>
                <img alt="SDE" src="{{ "/assets/img/aiesec.png" | prepend: site.baseurl }}" />
                <p>
                    I worked at <a href="https://www.aiesec.in" target="_blank" >AIESEC</a>. It's the world's Largest Youth Run Organization. During my time, I successfully did the following work.
                    <ol>
                        <li style="text-align: justify"><strong>Incomming Global Volunteers CRM</strong> - Here i Interacted and maintained good relations with the head of many Educational Organizations and NGO's while getting many Local and National Level Projects for the company. </li>
                        <li style="text-align: justify"><strong>EXPA Administrator</strong> - EXPA is the Online Match-Making server of AIESEC that matches the needs of various interns to the correct projects, i handled the proper working of it, while ensuring enough matches for my Local Community.</li>
                    </ol>
                </p>
              </div>
      </div>
      <br/>
