<div id="particles-js">
  <div class="header">
      <h1>
        <span  class="site-title">{{site.username}}</span>
      </h1>
      <h2>
        <span class="site-description" id="intro-text"></span>
      </h2>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:swastik.mhptr@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/SwastikMahapat8"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/swastikmhptr"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linked IN" target="_blank" href="https://www.linkedin.com/in/swastikmahapatra1996/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Stack Overflow" target="_blank" href="none"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
      </div><br/>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#experience" data-scroll>Experience</a>
        <a class="link" href="https://www.linkedin.com/in/swastikmahapatra1996/detail/recent-activity/shares/" target="_blank">Blog</a>
        <a class="link" href="#hobbies" data-scroll>Hobbies</a>
        <a class="link" href="https://drive.google.com/open?id=0By3cZ32YErZwWUQwVjhqVTFWVnZNV0o3bDlFYjhMd2tlTk9B" target="_blank">Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
