<div id="particles-js">
  <div class="header">
      <h2>
        <span  class="site-notice">{NOTE: The details mentioned in this site are Outdated, Please refer my Resume and LinkedIn Page mentioned Below for Updated Info.}</span>
      </h2>
      <h1>
        <span  class="site-title">{{site.username}}</span>
      </h1>
      <h2>
        <span class="site-description" id="intro-text"></span>
      </h2>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:swastik.mhptr@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My HackerEarth" target="_blank" href="https://www.hackerearth.com/@swastik.mhptr"><i class="icon fa fa-laptop" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/swastikmhptr"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My Linked IN" target="_blank" href="https://www.linkedin.com/in/swastikmahapatra1996/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/swastik.mahapatra"><i class="icon fa fa-facebook-official" aria-hidden="true"></i></a>
      </div><br/>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#experience" data-scroll>Experience</a>
        <a class="link" href="#hobbies" data-scroll>Hobbies</a>
        <a class="link" href="https://drive.google.com/file/d/1s3gOaJVyVGOs-t8Dg01qPgE-GCcQrcB0/view?usp=sharing" target="_blank">Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
