<div id="particles-js">
  <div class="header">
      <h1>
        <span  class="site-title">{{site.username}}</span>
      </h1>
      <h2>
        <span class="site-description" id="intro-text"></span>
      </h2>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:abhilash.khokle@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/KhokleKr"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Better-Boy"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linked IN" target="_blank" href="https://www.linkedin.com/in/abhilash-k-r-68073a11b/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Stack Overflow" target="_blank" href="https://stackoverflow.com/users/6849682/bigbounty"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
      </div><br/>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#experience" data-scroll>Experience</a>
        <a class="link" href="https://better-boy.github.io/Blog/" target="_blank">Blog</a>
        <a class="link" href="#hobbies" data-scroll>Hobbies</a>
        <a class="link" href="https://cdn.rawgit.com/Better-Boy/Portfolio/27022ef4/Resume.pdf" target="_blank">Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
