<div class="user-details">
        <h1> Hobbies & Extra Curricular Activities</h1>
</div>
<style>
    .main {
        text-align: center;
    }

</style>
<div class="main">
    <div style="display: inline-block;text-align:center;">
            <h3><strong>Hackathons</strong></h3>
            2nd Position at Iisc Open day Machine-Learning Hackathon<br/>
            Top 10 at G.A.I.N.S. AI Hackathon By Microsoft            <br/>
            <h3><strong>Technical Talks and Conferences Attended</strong></h3>
            AI Saturdays By Nurture.ai<br/>
           Google IO at Google India Pvt Ltd 
            <br/>
            <h3><strong> Sports</h3></strong>
            Badminton            <h3><strong>Social Activities</strong></h3>
            A-Certificate holder in National Cadet Corps <br/>
            Volunteer at AIESEC- helped Indian NGOs thrive by giving them international coverage and conducting fund-raising events        
    </div>
</div>