<div class="user-details">
        <h1> Hobbies & Extra Curricular Activities</h1>
</div>
<style>
    .main {
        text-align: center;
    }

</style>
<div class="main">
    <div style="display: inline-block;text-align:center;">
            <h3><strong>Achievements</strong></h3>
            Under-Graduate Project Selected among the top 4 UG projects in UG Summer School at IIsc<br/>
            2nd Position at Iisc Open day Machine-Learning Hackathon<br/>
            Among to finalists at G.A.I.N.S. AI Hackathon By Microsoft            <br/>
            Awarded A-Certificate for Excellient Performance in National Cadet Corps India.<br/>
            <h3><strong>Technical Talks and Conferences Attended</strong></h3>
            AI Saturdays By Nurture.ai<br/>
            G.A.I.N.S. Microsoft Artificial Intelligence Network Summit.
           
            <br/>
            <h3><strong> Sports</h3></strong>
            Badminton and Football           <h3><strong>Social Activities</strong></h3>
            Integral part Of Vidyaranya and Earth5R NGOs<br/>
            Volunteer at AIESEC- helped Indian NGOs thrive by giving them international coverage and conducting fund-raising events        
    </div>
</div>
