<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/typed.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript">
  var myQuotes = ['I\'m a Machine Learning Engineer','Expertising in Deep-Learning ANd Computer Vision','For Edge Devices'];
    $("#intro-text").typed({
      strings: myQuotes,
      typeSpeed: 100,
      backDelay: 2000,
      startDelay: 500,
      loop: true,
      smartBackspace: true,
      showCursor: false
    });
  </script>
