<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="width: 100%" alt="Counter-terrorism" src="{{ "/assets/img/terror.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Terrorism Vulnerability Prediction </h3>
    <p>It's a Projec whiere a Deep Learning Model is used to predict the vulnerability values of indian states towards attacks In a apecific Year.</p>
    <a class="project-link" href="https://github.com/swastikmhptr/Terrorism-Vulnerability-Prediction-model-for-Indian-States">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 100%" alt="food" src="{{ "/assets/img/criminal.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Criminal prediction Model</h3>
    <p>As a Part of Hacker Earth's Competition "Predict The Criminal" this model was built which gave me 95% accuracy and i secured top 1% position.</p>
    <a class="project-link" href="https://github.com/swastikmhptr/Criminal-Prediction-using-Neural-Networks">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="width: 100%" alt="price" src="{{ "/assets/img/bank.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Loan Repayment Prediction</h3>
    <p>This project was done as a part of Iisc Open day Hackathon 2018, which help me secure 2nd Position.</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 100%" alt="weather" src="{{ "/assets/img/weather.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Weather Data Analysis using Bigdata Hadoop</h3>
    <p>This project consisted of analysis of Bigdata Consisting of weather forecast details over a span of 10 years, with the help of Hadoop Technology using Map-reduce, Pig and hive.</p>
    <a class="project-link" href="https://drive.google.com/file/d/1ogN-nZjzGIPWOldUjxu3VFoNJbojYbR-/view">Check it out</a>
  </div>
</div>
